<h1>Creat a new product</h1>
<form action="/new" method="post">
	<p>Brand</p>
	<input type="text" name="brand">
	<p>Name</p>
	<input type="text" name="name">
	<p>Price</p>
	<input type="text" name="price">
	<p><input type="submit"></p>
</form>
<button><a href="/">Go back</a></button>