<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="replicagoogle.css">
	<title>Pesquisa Google</title>
</head>
<body>
	<p>Cerca de 241 000 000 resultados (0,29 segundos)</p>
	<div id="container">

		<div id="geralesquerda">
			<div class="resultadospesquisa">
				<span class="titulopesquisa">Jornal de Notícias</span>
				<p><a href="http://www.jn.pt">www.jn.pt</a></p>
				<p>O Jornal de Notícias é um título incontornável no panorama da imprensa portuguesa. No Jornal de Notícias online acompanhe as notícias, os vídeos, os áudios ...</p>
			</div>
			<div class="resultadodepesquisaladoalado">
			<div class="emcoluna">
					<span class="titulopesquisa">Últimas</span>
					<p>GNR já tem lista de pessoas que estiveram na "queima do gato ...</p>
				</div>
				<div class="emcoluna">
					<span class="titulopesquisa">Desporto</span>
					<p>Cultura - FCP - SLB - SCP - ...</p>
				</div>
				<div class="emcoluna">
					<span class="titulopesquisa">Economia</span>
					<p>As ofertas vinculativas apresentadas pela Anbang ...</p>
				</div>
				<div class="emcoluna">
					<span class="titulopesquisa">Nacional</span>
					<p>O Instituto Português do Mar e da Atmosfera prevê uma subida ...</p>
				</div>
				<div class="emcoluna">
					<span class="titulopesquisa">Segurança</span>
					<p>A Autoridade de Segurança Alimentar e Económica ...</p>
				</div>
				<div class="emcoluna">
					<span class="titulopesquisa">Cultura</span>
					<p>Notícias Cultura - Jornal de Notícias. ... Partilhar 0. > ver ...</p>
				</div>
			</div>

		</div>
		<div id="geraldireita">
			<div class="publicidade">
				<div>
					<img src="https://lh4.googleusercontent.com/-1voK-FD0QNA/AAAAAAAAAAI/AAAAAAAAMww/OBy6idJZZkE/photo.jpg?sz=48">
				</div>
				<div>
					<p class="titulo2">Jornal de Notícias</p>
					<p class="googleplus">6 495 seguidores no Google+</p>
				</div>
				<div>
					<p class="subtitulo">Mensagens recentes</p>
					<p>#OPINIÃOJN "É com revolta que se leem as notícias sobre a suspensão das obras de construção do Joãozinho, o que implica a transferência da Neonatologia ... há 4 horas</p>
				</div>

			</div>

		</div>
	</div>
</body>
</html>