<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<title></title>
</head>
<body>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Posts</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>


 <%= yield %>



<footer class="navbar-fixed-bottom text-center">
	Blog por <a href="#">Ruben Ferreira.</a>
</footer>


</body>
</html>
